.component-accordion {
    font: 10pt Verdana, sans-serif;
    background-color: #E4E3E3;
}
.component-accordion-panel-header {
    border: 1px solid black;
    font-weight: bold;
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#878787+0,747474+50,6e7774+50,555555+51,5e6666+100 */
    background: #878787; /* Old browsers */
    background: -moz-linear-gradient(top,  #878787 0%, #747474 50%, #6e7774 50%, #555555 51%, #5e6666 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #878787 0%,#747474 50%,#6e7774 50%,#555555 51%,#5e6666 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #878787 0%,#747474 50%,#6e7774 50%,#555555 51%,#5e6666 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#5e6666',GradientType=0 ); /* IE6-9 */
}