<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>__#SEARCHDLGTITLE#__</title>
<link rel="stylesheet" href="./viewer.css" type="text/css">
<style type="text/css">
    td.Title
    {
        font-family: __#@font#__;
        font-weight: bold;
        font-size: 13pt;
    }
    span.Search
    {
        font-family: __#@font#__
        font-size: 10pt;
    }
    span.SearchTitle
    {
        font-family: __#@font#__
        font-size: 16pt;
        font-style: normal;
        font-weight: bold;
    }
    tr.SearchHeading
    {
        height: 18px;
    }
    td.SearchHeading
    {
        background-color: #FFFFCC;
        color: gray;
        font-family: __#@font#__;
        font-size: 9pt;
        font-weight: bold;
    }
    td.Search
    {
        color: black;
        background-color: #white;
        font-family: __#@font#__;
        font-size: __#@fontsize#__;
        cursor: pointer;
    }
    td.Search2
    {
        color: black;
        background-color: #FFFFF2;
        font-family: __#@font#__;
        font-size: __#@fontsize#__;
        cursor: pointer;
    }
</style>

<script language="javascript">

var colCount = %s;
var curRow = -1;
var target = '%s';
var popup = %s;
var mapName = '%s';

function InitDocument()
{
    document.onmousedown = OnMouseDown;
}

function OnMouseDown(e)
{
    //GetParent().ForwardMouseDown(document, e);
}

function SelectRow(index)
{
    if(index == curRow)
        return;
    if(curRow != -1)
        highlightRow(curRow, 0);
    if((curRow = index) != -1)
        highlightRow(curRow, 1);
}

function CellClicked(sel)
{
    var map = GetParent().Fusion.getMapByName(mapName);
    map.setSelection(sel, true);
}

function PointCellClicked(sel, x, y, zoom)
{
    var map = GetParent().Fusion.getMapByName(mapName);
    map.setSelection(sel, true);
    var extents = map.mapWidget.getExtentFromPoint(x, y, zoom);
    map.mapWidget.setExtents(extents);
}

function highlightRow(index, mode)
{
    for(var i=0; i < colCount; i++)
    {
        var cell = document.getElementById(index + ":" + i);
        if(mode == 1)
        {
            cell.style.backgroundColor = "#0066cc";
            cell.style.color = "white";
        }
        else
        {
            cell.style.backgroundColor = index%%2? "#fffff2": "white";
            cell.style.color = "black";
        }
    }
}

function GetParent()
{
	if(popup)
		return opener;
	else
	{
		var node = parent;
		while (!node.Fusion && node.parent)
			node = node.parent;
		return node;
	}
}

</script>

</head>
<body class="Search" onload="InitDocument()"  marginwidth=5 marginheight=5 leftmargin=5 topmargin=5 bottommargin=5 rightmargin=5 scroll=yes onmouseout="SelectRow(-1)">
    <div class="PopupMenu" id="Task"></div>
    <div class="PopupMetricsDiv" id="MetricsDiv"><span class="PopupMetrics" id="Metrics"></span></div>
    <iframe id="IFrTask" style="position:absolute;top:0px;left:0px;width:0px;height:0px;background-color:white;" frameborder="0"></iframe>
    <table class="RegText" border="0" cellspacing="0" width="100%%">
        <tr><td class="Title">__#SEARCHTITLE#__<hr></td></tr>
        <tr>
            <td height="6">
                <table border="0" cellspacing="0" cellpadding="3" width="100%%">
                    <tr><td height="6"></td></tr>
                    <tr><td class="InfoText"><span id="prompt"></span></td></tr>
                </table>
            </td>
        </tr>
    </table>
    <table cellspacing=0 cellpadding=0 width="100%%">
</body>
</html>
