.auth {
  color: red;
}

.auth__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__input {
  margin-top: 10px;
  border: 1px solid #000;
}

.auth__auth-btn {
  margin-top: 10px;
}