@charset "UTF-8";
@import "ol.css";
@import "../../stdassets/sprites/icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~react-splitter-layout/lib/index.css";

/* HACK: Clear out any trace of the font icon as HTMLSelect should be using the SVG counterpart */
.bp3-select:after {
    content: "";
}

.legend-label-highlight-text {
    background-color: yellow;
}

.mg-toast {
    z-index: 120;
}

.map-viewer-component {
    background-color: white;
}

.iframe-iehack-zindex {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* OpenLayers overrides */

.ol-attribution {
    right: 10px;
    bottom: 52px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ol-rotate {
    top: auto;
    right: 10px;
    bottom: 25px;
}

.ol-rotate button {
    bottom: 1px;
    left: auto;
    right: 1px;
    top: auto;
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
    bottom: 79px;
    left: auto;
    right: 10px;
    top: auto;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
    border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    border: none;
}

.ol-custom-overviewmap .ol-overviewmap-box {
    border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button {
    bottom: 1px;
    left: auto;
    right: 1px;
    top: auto;
}

/* Accordion */
.component-accordion-panel-header {
    padding: 3px;
    cursor: pointer;
}

/* Selection Panel */

.selection-panel-property-grid {
    width: 100%;
}

.selection-panel-layer-selector {
    max-width: 180px;
}

.selection-panel-layer-selector select {
    max-width: 143px;
}

/* Modal Dialogs */

.modal-dialog {
    background: #fff;
    border: 1px solid black;
    border-radius: 3px;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 4999;
}

.modal-dialog-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-dialog-body {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 3px;
}

.modal-dialog-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 4998;
    background: rgba(0, 0, 0, 0.3);
}

.mg-flyout-menu-container {
    position: absolute;
}

.mg-flyout-component-container {
    position: absolute;
    background-color: white;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid black;
}

/* Toolbar */
.toolbar-separator-vertical {
    border-bottom: 1px solid black;
}

.toolbar-separator-horizontal {
    border-left: 1px solid black;
}

.selected-item {
    border-style: solid;
}

.mouse-over {
    cursor: pointer;
    background: rgb(220, 220, 220);
    border-style: solid;
    border-color: rgb(160, 160, 160);
}

/* Begin QuickPlot */
div.Label {
    padding: 5px 0px;
}

div.Ctrl {
    padding: 5px 0px;
}

div.Title {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0px;
}

div.HPlaceholder5px {
    font-size: 0px;
    height: 5px;
}

div.ButtonContainer {
    padding: 5px 0px;
    text-align: right;
}

.FixWidth {
    width: 100%;
}

div.InfoText {
    padding: 3px;
    background-color: #FFFFCC;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
}

/* End QuickPlot */

.field,
.field-label {
    display: block;
}

/*
.error-display {
    color: #ffffff;
    background-color: #ff0000;
    font-size: 0.8em;
}

.error-header {
    font-weight: bold;
}
*/
.error-stack {
    text-decoration: none;
}

.modal-dialog-header {
    font-weight: bold;
    padding: 5px;
    font-size: 1.1em;
    background-color: #cdcdcd;
    border-bottom: 1px solid black;
}

.modal-dialog-body {
    padding: 0px;
}

.context-menu-item-disabled {
    opacity: 0.4;
    cursor: none;
}

/* https://gist.github.com/aiboy/7406727 */
.rotated-text {
    display: inline-block;
    overflow: hidden;
    width: 1.5em;
}

.rotated-text-ccw {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;

    /* Should be unset in IE9+ I think. */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.rotated-text__inner {
    display: inline-block;
    white-space: nowrap;
}

.rotated-text__inner:before {
    content: "";
    float: left;
    margin-top: 100%;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
}

.component-about-dialog-content {
    padding: 5px;
}

.component-session-expired {
    padding: 5px;
}

.component-measure {
    padding: 5px;
}

.component-quick-plot {
    padding: 5px;
}

.component-viewer-options {
    padding: 5px;
}

.component-mouse-coordinates,
.component-selected-feature-count,
.component-view-size {
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
}

.component-scale-display {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8pt;
}

.component-scale-display .scale-input {
    margin: 0;
    padding: 0;
}

.feature-tooltip {
    position: relative;
    background: rgb(255, 255, 153);
    border-radius: 4px;
    color: black;
    padding: 4px 8px;
    white-space: nowrap;
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tooltip-hidden {
    display: none;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 8pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

.component-navigator {
    position: absolute;
    width: 51px;
    height: 204px;
    z-index: 1000;
    cursor: pointer;
    right: 10px;
    top: 10px;
}

.wms-layer-info-tooltip p {
    max-width: 250px;
    word-wrap: break-word;
}

.bp3-dark {
    background-color: #30404d;
}

.colorpicker {
    position: relative;
    width: 100%;
    height: 13em;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.25em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.map {
    position: absolute;
    top: 1em;
    bottom: 1em;
    right: 2em;
    left: 1em;
    overflow: hidden;
    user-select: none;
    border-radius: 0.25em;
}

.map.active {
    cursor: none;
}

.map.dark .pointer {
    border-color: #fff;
}

.map.light .pointer {
    border-color: #000;
}

.map .pointer {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-bottom: -5px;
    border-radius: 100%;
    border: 1px solid #000;
    will-change: left, bottom;
}

.map .background {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.map .background:before,
.map .background:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.map .background:after {
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.map .background:before {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.slider {
    position: absolute;
    user-select: none;
}

.slider.vertical {
    top: 0;
    bottom: 0;
    left: 50%;
    width: 10px;
    cursor: ns-resize;
}

.slider.vertical .track {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 8px;
    margin-left: -4px;
}

.slider.horizontal {
    left: 0;
    right: 0;
    top: 50%;
    height: 10px;
    cursor: ew-resize;
}

.slider.horizontal .track {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 8px;
    margin-top: -4px;
}

.slider .track {
    border-radius: 3px;
    background: #888;
}

.slider .pointer {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-left: -8px;
    margin-bottom: -8px;
    border-radius: 16px;
    background: #fff;
    box-shadow: inset 0 0 0 1px #ccc, 0 1px 2px #ccc;
    will-change: left, bottom;
}

.hue-slider {
    position: absolute;
    top: 1em;
    bottom: 1em;
    right: 1.3em;
}

.hue-slider .track {
    background: linear-gradient(to bottom, #FF0000 0%, #FF0099 10%, #CD00FF 20%, #3200FF 30%, #0066FF 40%, #00FFFD 50%, #00FF66 60%, #35FF00 70%, #CDFF00 80%, #FF9900 90%, #FF0000 100%);
}

.opacity-slider {
    position: absolute;
    bottom: 1.3em;
    left: 1em;
    right: 2em;
}

.opacity-slider .slider {
    background: #fff url("data:image/gif;base64,R0lGODdhEAAQAPEAAMvLy8zMzP///wAAACwAAAAAEAAQAEACHYxvosstCAEMrq6Jj812Y59NIDQipdY5XLWqH4sVADs=") repeat;
    background-size: 8px 8px;
    height: 8px;
}

.opacity-slider .slider .track {
    height: 8px;
    margin-top: -4px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FFF 100%);
}

.with-opacity-slider {
    height: 14em;
}

.with-opacity-slider .map {
    bottom: 2em;
}

.with-opacity-slider .hue-slider {
    bottom: 2em;
}