
.icon-buffer:before { content: '\e800'; } /* '' */
.icon-window:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-right-open:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\e805'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */