<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="./Viewer.css" type="text/css">
<style type="text/css">
    td.Title
    {
        font-family: __#@font#__;
        font-weight: bold;
        font-size: 13pt;
    }
    .RegText
    {
        font-family: __#@font#__;
        font-size: __#@fontsize#__;
    }
    .Ctrl
    {
        font-family: __#@font#__;
        font-size: __#@fontsize#__;
    }
</style>

<script language=javascript>

var popup = %s;
var warnings = %s; //this page is only returned for success;
var mapName = '%s';

function InitDocument()
{
    var map = GetParent().Fusion.getMapByName(mapName);
    map.reloadMap();
    if (!warnings) {
      Back();
    }
}

function Back()
{
    if (popup) {
        history.back();
    } else {
        var TaskPaneId=this.frameElement.taskPaneId;
        GetParent().Fusion.getWidgetById(TaskPaneId).goHome();
    }
}

function GetParent()
{
	if(popup)
		return opener;
	else
	{
		var node = parent;
		while (!node.Fusion && node.parent)
			node = node.parent;
		return node;
	}
}

</script>
</head>
<body onload="InitDocument()" marginwidth=5 marginheight=5 leftmargin=5 topmargin=5 bottommargin=5 rightmargin=5>
<table class="RegText" border="0" cellspacing="0" width="100%%">
  <tr><td class="Title">%s<hr></td></tr>
  <tr><td class="RegText">%s</td></tr>
  <tr><td height="10"></td></tr>
  <tr><td><input type="button" value="OK" style="width: 70px;" class="Ctrl" onclick="Back()"></td></tr>
</table>
</body>
</html>
