<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>__#COLORPICKERDLGTITLE#__</title>
<style type="text/css">
    td.SubTitle
    {
        font-family: __#@font#__;
        font-weight: bold;
        font-size: __#@fontsize#__;
        background-color: #DCDCDC;
        color: black;
        height: 20px;
    }
    .RegText
    {
        font-family: __#@font#__;
        font-size: __#@fontsize#__;
    }
    .Ctrl
    {
        font-family: __#@font#__;
        font-size: __#@fontsize#__;
    }
    td.clr
    {
        border: 1px black solid;
        width: 16px;
    }
    td.selswatch
    {
        border: 1px black solid;
    }
</style>

<script language=javascript>

var agent = navigator.userAgent.toLowerCase();
var msie = agent.indexOf("msie") != -1;
var imgspin = new Image(28,22);
imgspin.src = "./cp_arr.gif";
var imgspindis = new Image(28,22);
imgspindis.src = "./cp_arr_dis.gif";
var r = 0, g = 0, b = 0;
var initColor = "%s";
var allowTransparency = %s;
var transparent = %s;
var hex = false;

function InitDocument()
{
    if(!allowTransparency)
        transparent = false;

    document.getElementById("TransDiv").style.display = allowTransparency? "block": "none";
    document.getElementById("trans").checked = transparent;
    document.getElementById("hex").checked = hex;

    document.getElementById("R").onblur = OnValidateColorField;
    document.getElementById("G").onblur = OnValidateColorField;
    document.getElementById("B").onblur = OnValidateColorField;

    SelectColor(initColor);
    OnTransparencyChanged();
}

function SelectColor(clr)
{
    if(clr.length != 6)
        clr = "000000";
    SetSelectedColor(parseInt(clr.substr(0, 2), 16), parseInt(clr.substr(2, 2), 16), parseInt(clr.substr(4, 2), 16));
}

function EnableControls()
{
    EnableSpinControls(!transparent);
    document.getElementById("R").disabled = transparent;
    document.getElementById("G").disabled = transparent;
    document.getElementById("B").disabled = transparent;
    document.getElementById("hex").disabled = transparent;
}

function SetSelectedColor(red,green,blue)
{
    r = Normalize(red);
    g = Normalize(green);
    b = Normalize(blue);

    var rs = ToStr(r), gs = ToStr(g), bs = ToStr(b);
    document.getElementById("R").value = rs;
    document.getElementById("G").value = gs;
    document.getElementById("B").value = bs;

    var swst = document.getElementById("selswatch").style;
    if(!transparent)
    {
        if(hex)
            swst.backgroundColor = "#" + rs + gs + bs;
        else
            swst.backgroundColor = "#" + MakeRgb(r,g,b);
    }
    else
        swst.backgroundColor = "white";
}

function MakeRgb(r,g,b)
{
    return ToHexStr(r) + ToHexStr(g) + ToHexStr(b);
}

function Normalize(clr)
{
    if(clr < 0)
        return 0;
    else if(clr > 255)
        return 255;
    else
        return clr;
}

function ToStr(clr)
{
    if(hex)
        return ToHexStr(clr);
    return clr.toString(10);
}

function ToHexStr(clr)
{
    var cs = clr.toString(16);
    if(cs.length == 1)
        cs = "0" + cs;
    return cs.toUpperCase();
}

function EnableSpinControls(enable)
{
    document.getElementById("redspin").src = (enable? imgspin.src: imgspindis.src);
    document.getElementById("greenspin").src = (enable? imgspin.src: imgspindis.src);
    document.getElementById("bluespin").src = (enable? imgspin.src: imgspindis.src);
}

function IncrRed()
{
    if(transparent)
        return;
    r = IncrClr(r);
    SetSelectedColor(r,g,b);
}

function DecrRed()
{
    if(transparent)
        return;
    r = DecrClr(r);
    SetSelectedColor(r,g,b);
}

function IncrClr(c)
{
    if( ++ c >= 255)
        c = 255;
    return c;
}

function DecrClr(c)
{
    if(--c <= 0)
        c = 0;
    return c;
}

function IncrGreen()
{
    if(transparent)
        return;
    g = IncrClr(g);
    SetSelectedColor(r,g,b);
}

function DecrGreen()
{
    if(transparent)
        return;
    g = DecrClr(g);
    SetSelectedColor(r,g,b);
}

function IncrBlue()
{
    if(transparent)
        return;
    b = IncrClr(b);
    SetSelectedColor(r,g,b);
}

function DecrBlue()
{
    if(transparent)
        return;
    b = DecrClr(b);
    SetSelectedColor(r,g,b);
}

function OnOk()
{
    try
    {
        opener.OnColorPicked(MakeRgb(r,g,b), transparent);
    }
    catch(e) {}
    window.close();
}

function OnCancel()
{
    window.close();
}

function OnTransparencyChanged()
{
    transparent = document.getElementById("trans").checked;
    EnableControls(transparent);
    document.getElementById("selswatch").style.border = transparent? "0px": "1px black solid";
    SetSelectedColor(r,g,b);
}

function OnFormatChanged()
{
    hex = document.getElementById("hex").checked;
    SetSelectedColor(r,g,b);
}

function OnValidateColorField(e)
{
    if(msie)
        tgt = event.srcElement;
    else
        tgt = e.target;

    v = tgt.value;
    i = parseInt(v, hex? 16: 10);
    i = Normalize(i);

    if(tgt.id == "R")
        r = i;
    else if(tgt.id == "G")
        g = i;
    else if(tgt.id == "B")
        b = i;
    else
        return;

    SetSelectedColor(r,g,b);
}

</script>

</head>
<body bgcolor="#FFFFFF" onload="InitDocument()">
  <table cellpadding="0" cellspacing="0" border="0">
    <tr><td colspan=18 class="SubTitle">__#COLORPICKERTITLE#__</td></tr>
    <tr height=10><td colspan=18 ></td></tr>

    <tr height=16>
    <td class="clr" bgcolor="#330000" onclick="SelectColor('330000')">&nbsp;</td>
    <td class="clr" bgcolor="#333300" onclick="SelectColor('333300')">&nbsp;</td>
    <td class="clr" bgcolor="#336600" onclick="SelectColor('336600')">&nbsp;</td>
    <td class="clr" bgcolor="#339900" onclick="SelectColor('339900')">&nbsp;</td>
    <td class="clr" bgcolor="#33CC00" onclick="SelectColor('33CC00')">&nbsp;</td>
    <td class="clr" bgcolor="#33FF00" onclick="SelectColor('33FF00')">&nbsp;</td>

    <td class="clr" bgcolor="#66FF00" onclick="SelectColor('66FF00')">&nbsp;</td>
    <td class="clr" bgcolor="#66CC00" onclick="SelectColor('66CC00')">&nbsp;</td>
    <td class="clr" bgcolor="#669900" onclick="SelectColor('669900')">&nbsp;</td>
    <td class="clr" bgcolor="#666600" onclick="SelectColor('666600')">&nbsp;</td>
    <td class="clr" bgcolor="#663300" onclick="SelectColor('663300')">&nbsp;</td>
    <td class="clr" bgcolor="#660000" onclick="SelectColor('660000')">&nbsp;</td>

    <td class="clr" bgcolor="#FF0000" onclick="SelectColor('FF0000')">&nbsp;</td>
    <td class="clr" bgcolor="#FF3300" onclick="SelectColor('FF3300')">&nbsp;</td>
    <td class="clr" bgcolor="#FF6600" onclick="SelectColor('FF6600')">&nbsp;</td>
    <td class="clr" bgcolor="#FF9900" onclick="SelectColor('FF9900')">&nbsp;</td>
    <td class="clr" bgcolor="#FFCC00" onclick="SelectColor('FFCC00')">&nbsp;</td>
    <td class="clr" bgcolor="#FFFF00" onclick="SelectColor('FFFF00')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#330033" onclick="SelectColor('330033')">&nbsp;</td>
    <td class="clr" bgcolor="#333333" onclick="SelectColor('333333')">&nbsp;</td>
    <td class="clr" bgcolor="#336633" onclick="SelectColor('336633')">&nbsp;</td>
    <td class="clr" bgcolor="#339933" onclick="SelectColor('339933')">&nbsp;</td>
    <td class="clr" bgcolor="#33CC33" onclick="SelectColor('33CC33')">&nbsp;</td>
    <td class="clr" bgcolor="#33FF33" onclick="SelectColor('33FF33')">&nbsp;</td>
    <td class="clr" bgcolor="#66FF33" onclick="SelectColor('66FF33')">&nbsp;</td>
    <td class="clr" bgcolor="#66CC33" onclick="SelectColor('66CC33')">&nbsp;</td>
    <td class="clr" bgcolor="#669933" onclick="SelectColor('669933')">&nbsp;</td>
    <td class="clr" bgcolor="#666633" onclick="SelectColor('666633')">&nbsp;</td>
    <td class="clr" bgcolor="#663333" onclick="SelectColor('663333')">&nbsp;</td>
    <td class="clr" bgcolor="#660033" onclick="SelectColor('660033')">&nbsp;</td>
    <td class="clr" bgcolor="#FF0033" onclick="SelectColor('FF0033')">&nbsp;</td>
    <td class="clr" bgcolor="#FF3333" onclick="SelectColor('FF3333')">&nbsp;</td>
    <td class="clr" bgcolor="#FF6633" onclick="SelectColor('FF6633')">&nbsp;</td>
    <td class="clr" bgcolor="#FF9933" onclick="SelectColor('FF9933')">&nbsp;</td>
    <td class="clr" bgcolor="#FFCC33" onclick="SelectColor('FFCC33')">&nbsp;</td>
    <td class="clr" bgcolor="#FFFF33" onclick="SelectColor('FFFF33')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#330066" onclick="SelectColor('330066')">&nbsp;</td>
    <td class="clr" bgcolor="#333366" onclick="SelectColor('333366')">&nbsp;</td>
    <td class="clr" bgcolor="#336666" onclick="SelectColor('336666')">&nbsp;</td>
    <td class="clr" bgcolor="#339966" onclick="SelectColor('339966')">&nbsp;</td>
    <td class="clr" bgcolor="#33CC66" onclick="SelectColor('33CC66')">&nbsp;</td>
    <td class="clr" bgcolor="#33FF66" onclick="SelectColor('33FF66')">&nbsp;</td>
    <td class="clr" bgcolor="#66FF66" onclick="SelectColor('66FF66')">&nbsp;</td>
    <td class="clr" bgcolor="#66CC66" onclick="SelectColor('66CC66')">&nbsp;</td>
    <td class="clr" bgcolor="#669966" onclick="SelectColor('669966')">&nbsp;</td>
    <td class="clr" bgcolor="#666666" onclick="SelectColor('666666')">&nbsp;</td>
    <td class="clr" bgcolor="#663366" onclick="SelectColor('663366')">&nbsp;</td>
    <td class="clr" bgcolor="#660066" onclick="SelectColor('660066')">&nbsp;</td>
    <td class="clr" bgcolor="#FF0066" onclick="SelectColor('FF0066')">&nbsp;</td>
    <td class="clr" bgcolor="#FF3366" onclick="SelectColor('FF3366')">&nbsp;</td>
    <td class="clr" bgcolor="#FF6666" onclick="SelectColor('FF6666')">&nbsp;</td>
    <td class="clr" bgcolor="#FF9966" onclick="SelectColor('FF9966')">&nbsp;</td>
    <td class="clr" bgcolor="#FFCC66" onclick="SelectColor('FFCC66')">&nbsp;</td>
    <td class="clr" bgcolor="#FFFF66" onclick="SelectColor('FFFF66')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#330099" onclick="SelectColor('330099')">&nbsp;</td>
    <td class="clr" bgcolor="#333399" onclick="SelectColor('333399')">&nbsp;</td>
    <td class="clr" bgcolor="#336699" onclick="SelectColor('336699')">&nbsp;</td>
    <td class="clr" bgcolor="#339999" onclick="SelectColor('339999')">&nbsp;</td>
    <td class="clr" bgcolor="#33CC99" onclick="SelectColor('33CC99')">&nbsp;</td>
    <td class="clr" bgcolor="#33FF99" onclick="SelectColor('33FF99')">&nbsp;</td>
    <td class="clr" bgcolor="#66FF99" onclick="SelectColor('66FF99')">&nbsp;</td>
    <td class="clr" bgcolor="#66CC99" onclick="SelectColor('66CC99')">&nbsp;</td>
    <td class="clr" bgcolor="#669999" onclick="SelectColor('669999')">&nbsp;</td>
    <td class="clr" bgcolor="#666699" onclick="SelectColor('666699')">&nbsp;</td>
    <td class="clr" bgcolor="#663399" onclick="SelectColor('663399')">&nbsp;</td>
    <td class="clr" bgcolor="#660099" onclick="SelectColor('660099')">&nbsp;</td>
    <td class="clr" bgcolor="#FF0099" onclick="SelectColor('FF0099')">&nbsp;</td>
    <td class="clr" bgcolor="#FF3399" onclick="SelectColor('FF3399')">&nbsp;</td>
    <td class="clr" bgcolor="#FF6699" onclick="SelectColor('FF6699')">&nbsp;</td>
    <td class="clr" bgcolor="#FF9999" onclick="SelectColor('FF9999')">&nbsp;</td>
    <td class="clr" bgcolor="#FFCC99" onclick="SelectColor('FFCC99')">&nbsp;</td>
    <td class="clr" bgcolor="#FFFF99" onclick="SelectColor('FFFF99')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#3300CC" onclick="SelectColor('3300CC')">&nbsp;</td>
    <td class="clr" bgcolor="#3333CC" onclick="SelectColor('3333CC')">&nbsp;</td>
    <td class="clr" bgcolor="#3366CC" onclick="SelectColor('3366CC')">&nbsp;</td>
    <td class="clr" bgcolor="#3399CC" onclick="SelectColor('3399CC')">&nbsp;</td>
    <td class="clr" bgcolor="#33CCCC" onclick="SelectColor('33CCCC')">&nbsp;</td>
    <td class="clr" bgcolor="#33FFCC" onclick="SelectColor('33FFCC')">&nbsp;</td>
    <td class="clr" bgcolor="#66FFCC" onclick="SelectColor('66FFCC')">&nbsp;</td>
    <td class="clr" bgcolor="#66CCCC" onclick="SelectColor('66CCCC')">&nbsp;</td>
    <td class="clr" bgcolor="#6699CC" onclick="SelectColor('6699CC')">&nbsp;</td>
    <td class="clr" bgcolor="#6666CC" onclick="SelectColor('6666CC')">&nbsp;</td>
    <td class="clr" bgcolor="#6633CC" onclick="SelectColor('6633CC')">&nbsp;</td>
    <td class="clr" bgcolor="#6600CC" onclick="SelectColor('6600CC')">&nbsp;</td>
    <td class="clr" bgcolor="#FF00CC" onclick="SelectColor('FF00CC')">&nbsp;</td>
    <td class="clr" bgcolor="#FF33CC" onclick="SelectColor('FF33CC')">&nbsp;</td>
    <td class="clr" bgcolor="#FF66CC" onclick="SelectColor('FF66CC')">&nbsp;</td>
    <td class="clr" bgcolor="#FF99CC" onclick="SelectColor('FF99CC')">&nbsp;</td>
    <td class="clr" bgcolor="#FFCCCC" onclick="SelectColor('FFCCCC')">&nbsp;</td>
    <td class="clr" bgcolor="#FFFFCC" onclick="SelectColor('FFFFCC')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#3300FF" onclick="SelectColor('3300FF')">&nbsp;</td>
    <td class="clr" bgcolor="#3333FF" onclick="SelectColor('3333FF')">&nbsp;</td>
    <td class="clr" bgcolor="#3366FF" onclick="SelectColor('3366FF')">&nbsp;</td>
    <td class="clr" bgcolor="#3399FF" onclick="SelectColor('3399FF')">&nbsp;</td>
    <td class="clr" bgcolor="#33CCFF" onclick="SelectColor('33CCFF')">&nbsp;</td>
    <td class="clr" bgcolor="#33FFFF" onclick="SelectColor('33FFFF')">&nbsp;</td>
    <td class="clr" bgcolor="#66FFFF" onclick="SelectColor('66FFFF')">&nbsp;</td>
    <td class="clr" bgcolor="#66CCFF" onclick="SelectColor('66CCFF')">&nbsp;</td>
    <td class="clr" bgcolor="#6699FF" onclick="SelectColor('6699FF')">&nbsp;</td>
    <td class="clr" bgcolor="#6666FF" onclick="SelectColor('6666FF')">&nbsp;</td>
    <td class="clr" bgcolor="#6633FF" onclick="SelectColor('6633FF')">&nbsp;</td>
    <td class="clr" bgcolor="#6600FF" onclick="SelectColor('6600FF')">&nbsp;</td>
    <td class="clr" bgcolor="#FF00FF" onclick="SelectColor('FF00FF')">&nbsp;</td>
    <td class="clr" bgcolor="#FF33FF" onclick="SelectColor('FF33FF')">&nbsp;</td>
    <td class="clr" bgcolor="#FF33FF" onclick="SelectColor('FF33FF')">&nbsp;</td>
    <td class="clr" bgcolor="#FF99FF" onclick="SelectColor('FF99FF')">&nbsp;</td>
    <td class="clr" bgcolor="#FFCCFF" onclick="SelectColor('FFCCFF')">&nbsp;</td>
    <td class="clr" bgcolor="#FFFFFF" onclick="SelectColor('FFFFFF')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#0000FF" onclick="SelectColor('0000FF')">&nbsp;</td>
    <td class="clr" bgcolor="#0033FF" onclick="SelectColor('0033FF')">&nbsp;</td>
    <td class="clr" bgcolor="#0066FF" onclick="SelectColor('0066FF')">&nbsp;</td>
    <td class="clr" bgcolor="#0099FF" onclick="SelectColor('0099FF')">&nbsp;</td>
    <td class="clr" bgcolor="#00CCFF" onclick="SelectColor('00CCFF')">&nbsp;</td>
    <td class="clr" bgcolor="#00FFFF" onclick="SelectColor('00FFFF')">&nbsp;</td>
    <td class="clr" bgcolor="#99FFFF" onclick="SelectColor('99FFFF')">&nbsp;</td>
    <td class="clr" bgcolor="#99CCFF" onclick="SelectColor('99CCFF')">&nbsp;</td>
    <td class="clr" bgcolor="#99CCFF" onclick="SelectColor('99CCFF')">&nbsp;</td>
    <td class="clr" bgcolor="#9966FF" onclick="SelectColor('9966FF')">&nbsp;</td>
    <td class="clr" bgcolor="#9966FF" onclick="SelectColor('9966FF')">&nbsp;</td>
    <td class="clr" bgcolor="#9900FF" onclick="SelectColor('9900FF')">&nbsp;</td>
    <td class="clr" bgcolor="#CC00FF" onclick="SelectColor('CC00FF')">&nbsp;</td>
    <td class="clr" bgcolor="#CC33FF" onclick="SelectColor('CC33FF')">&nbsp;</td>
    <td class="clr" bgcolor="#CC66FF" onclick="SelectColor('CC66FF')">&nbsp;</td>
    <td class="clr" bgcolor="#CC99FF" onclick="SelectColor('CC99FF')">&nbsp;</td>
    <td class="clr" bgcolor="#CCCCFF" onclick="SelectColor('CCCCFF')">&nbsp;</td>
    <td class="clr" bgcolor="#CCFFFF" onclick="SelectColor('CCFFFF')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#0000CC" onclick="SelectColor('0000CC')">&nbsp;</td>
    <td class="clr" bgcolor="#0033CC" onclick="SelectColor('0033CC')">&nbsp;</td>
    <td class="clr" bgcolor="#0066CC" onclick="SelectColor('0066CC')">&nbsp;</td>
    <td class="clr" bgcolor="#0099CC" onclick="SelectColor('0099CC')">&nbsp;</td>
    <td class="clr" bgcolor="#00CCCC" onclick="SelectColor('00CCCC')">&nbsp;</td>
    <td class="clr" bgcolor="#00FFCC" onclick="SelectColor('00FFCC')">&nbsp;</td>
    <td class="clr" bgcolor="#99FFCC" onclick="SelectColor('99FFCC')">&nbsp;</td>
    <td class="clr" bgcolor="#99CCCC" onclick="SelectColor('99CCCC')">&nbsp;</td>
    <td class="clr" bgcolor="#9999CC" onclick="SelectColor('9999CC')">&nbsp;</td>
    <td class="clr" bgcolor="#9966CC" onclick="SelectColor('9966CC')">&nbsp;</td>
    <td class="clr" bgcolor="#9933CC" onclick="SelectColor('9933CC')">&nbsp;</td>
    <td class="clr" bgcolor="#9900CC" onclick="SelectColor('9900CC')">&nbsp;</td>
    <td class="clr" bgcolor="#CC00CC" onclick="SelectColor('CC00CC')">&nbsp;</td>
    <td class="clr" bgcolor="#CC33CC" onclick="SelectColor('CC33CC')">&nbsp;</td>
    <td class="clr" bgcolor="#CC66CC" onclick="SelectColor('CC66CC')">&nbsp;</td>
    <td class="clr" bgcolor="#CC99CC" onclick="SelectColor('CC99CC')">&nbsp;</td>
    <td class="clr" bgcolor="#CCCCCC" onclick="SelectColor('CCCCCC')">&nbsp;</td>
    <td class="clr" bgcolor="#CCFFCC" onclick="SelectColor('CCFFCC')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#000099" onclick="SelectColor('000099')">&nbsp;</td>
    <td class="clr" bgcolor="#003399" onclick="SelectColor('003399')">&nbsp;</td>
    <td class="clr" bgcolor="#006699" onclick="SelectColor('006699')">&nbsp;</td>
    <td class="clr" bgcolor="#009999" onclick="SelectColor('009999')">&nbsp;</td>
    <td class="clr" bgcolor="#00CC99" onclick="SelectColor('00CC99')">&nbsp;</td>
    <td class="clr" bgcolor="#00FF99" onclick="SelectColor('00FF99')">&nbsp;</td>
    <td class="clr" bgcolor="#99FF99" onclick="SelectColor('99FF99')">&nbsp;</td>
    <td class="clr" bgcolor="#99CC99" onclick="SelectColor('99CC99')">&nbsp;</td>
    <td class="clr" bgcolor="#999999" onclick="SelectColor('999999')">&nbsp;</td>
    <td class="clr" bgcolor="#996699" onclick="SelectColor('996699')">&nbsp;</td>
    <td class="clr" bgcolor="#993399" onclick="SelectColor('993399')">&nbsp;</td>
    <td class="clr" bgcolor="#990099" onclick="SelectColor('990099')">&nbsp;</td>
    <td class="clr" bgcolor="#CC0099" onclick="SelectColor('CC0099')">&nbsp;</td>
    <td class="clr" bgcolor="#CC3399" onclick="SelectColor('CC3399')">&nbsp;</td>
    <td class="clr" bgcolor="#CC6699" onclick="SelectColor('CC6699')">&nbsp;</td>
    <td class="clr" bgcolor="#CC9999" onclick="SelectColor('CC9999')">&nbsp;</td>
    <td class="clr" bgcolor="#CCCC99" onclick="SelectColor('CCCC99')">&nbsp;</td>
    <td class="clr" bgcolor="#CCFF99" onclick="SelectColor('CCFF99')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#000066" onclick="SelectColor('000066')">&nbsp;</td>
    <td class="clr" bgcolor="#003366" onclick="SelectColor('003366')">&nbsp;</td>
    <td class="clr" bgcolor="#006666" onclick="SelectColor('006666')">&nbsp;</td>
    <td class="clr" bgcolor="#009966" onclick="SelectColor('009966')">&nbsp;</td>
    <td class="clr" bgcolor="#00CC66" onclick="SelectColor('00CC66')">&nbsp;</td>
    <td class="clr" bgcolor="#00FF66" onclick="SelectColor('00FF66')">&nbsp;</td>
    <td class="clr" bgcolor="#99FF66" onclick="SelectColor('99FF66')">&nbsp;</td>
    <td class="clr" bgcolor="#99CC66" onclick="SelectColor('99CC66')">&nbsp;</td>
    <td class="clr" bgcolor="#999966" onclick="SelectColor('999966')">&nbsp;</td>
    <td class="clr" bgcolor="#996666" onclick="SelectColor('996666')">&nbsp;</td>
    <td class="clr" bgcolor="#993366" onclick="SelectColor('993366')">&nbsp;</td>
    <td class="clr" bgcolor="#990066" onclick="SelectColor('990066')">&nbsp;</td>
    <td class="clr" bgcolor="#CC0066" onclick="SelectColor('CC0066')">&nbsp;</td>
    <td class="clr" bgcolor="#CC3366" onclick="SelectColor('CC3366')">&nbsp;</td>
    <td class="clr" bgcolor="#CC6666" onclick="SelectColor('CC6666')">&nbsp;</td>
    <td class="clr" bgcolor="#CC9966" onclick="SelectColor('CC9966')">&nbsp;</td>
    <td class="clr" bgcolor="#CCCC66" onclick="SelectColor('CCCC66')">&nbsp;</td>
    <td class="clr" bgcolor="#CCFF66" onclick="SelectColor('CCFF66')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#000033" onclick="SelectColor('000033')">&nbsp;</td>
    <td class="clr" bgcolor="#003333" onclick="SelectColor('003333')">&nbsp;</td>
    <td class="clr" bgcolor="#006633" onclick="SelectColor('006633')">&nbsp;</td>
    <td class="clr" bgcolor="#009933" onclick="SelectColor('009933')">&nbsp;</td>
    <td class="clr" bgcolor="#00CC33" onclick="SelectColor('00CC33')">&nbsp;</td>
    <td class="clr" bgcolor="#00FF33" onclick="SelectColor('00FF33')">&nbsp;</td>
    <td class="clr" bgcolor="#99FF33" onclick="SelectColor('99FF33')">&nbsp;</td>
    <td class="clr" bgcolor="#99CC33" onclick="SelectColor('99CC33')">&nbsp;</td>
    <td class="clr" bgcolor="#999933" onclick="SelectColor('999933')">&nbsp;</td>
    <td class="clr" bgcolor="#996633" onclick="SelectColor('996633')">&nbsp;</td>
    <td class="clr" bgcolor="#993333" onclick="SelectColor('993333')">&nbsp;</td>
    <td class="clr" bgcolor="#990033" onclick="SelectColor('990033')">&nbsp;</td>
    <td class="clr" bgcolor="#CC0033" onclick="SelectColor('CC0033')">&nbsp;</td>
    <td class="clr" bgcolor="#CC3333" onclick="SelectColor('CC3333')">&nbsp;</td>
    <td class="clr" bgcolor="#CC6633" onclick="SelectColor('CC6633')">&nbsp;</td>
    <td class="clr" bgcolor="#CC9933" onclick="SelectColor('CC9933')">&nbsp;</td>
    <td class="clr" bgcolor="#CCCC33" onclick="SelectColor('CCCC33')">&nbsp;</td>
    <td class="clr" bgcolor="#CCFF33" onclick="SelectColor('CCFF33')">&nbsp;</td>
    </tr>
    <tr>
    <td class="clr" bgcolor="#000000" onclick="SelectColor('000000')">&nbsp;</td>
    <td class="clr" bgcolor="#003300" onclick="SelectColor('003300')">&nbsp;</td>
    <td class="clr" bgcolor="#006600" onclick="SelectColor('006600')">&nbsp;</td>
    <td class="clr" bgcolor="#009900" onclick="SelectColor('009900')">&nbsp;</td>
    <td class="clr" bgcolor="#00CC00" onclick="SelectColor('00CC00')">&nbsp;</td>
    <td class="clr" bgcolor="#00FF00" onclick="SelectColor('00FF00')">&nbsp;</td>
    <td class="clr" bgcolor="#99FF00" onclick="SelectColor('99FF00')">&nbsp;</td>
    <td class="clr" bgcolor="#99CC00" onclick="SelectColor('99CC00')">&nbsp;</td>
    <td class="clr" bgcolor="#999900" onclick="SelectColor('999900')">&nbsp;</td>
    <td class="clr" bgcolor="#996600" onclick="SelectColor('996600')">&nbsp;</td>
    <td class="clr" bgcolor="#993300" onclick="SelectColor('993300')">&nbsp;</td>
    <td class="clr" bgcolor="#990000" onclick="SelectColor('990000')">&nbsp;</td>
    <td class="clr" bgcolor="#CC0000" onclick="SelectColor('CC0000')">&nbsp;</td>
    <td class="clr" bgcolor="#CC3300" onclick="SelectColor('CC3300')">&nbsp;</td>
    <td class="clr" bgcolor="#CC6600" onclick="SelectColor('CC6600')">&nbsp;</td>
    <td class="clr" bgcolor="#CC9900" onclick="SelectColor('CC9900')">&nbsp;</td>
    <td class="clr" bgcolor="#CCCC00" onclick="SelectColor('CCCC00')">&nbsp;</td>
    <td class="clr" bgcolor="#CCFF00" onclick="SelectColor('CCFF00')">&nbsp;</td>
    </tr>

    <tr height=16><td colspan=18 > </td>
    <tr><td colspan=18 class="SubTitle">__#COLORPICKERSUBTITLE#__</td></tr>
    <tr height=5><td colspan=18 ></td></tr>
  </table>
  <div id="TransDiv">
  <table cellpadding="0" cellspacing="0" border="0">
    <tr class="RegText"><td colspan=18><input type="checkbox" id="trans" class="Ctrl" onclick="OnTransparencyChanged()">__#COLORPICKER100TRANSPARENCY#__</td></tr>
    <tr height=2><td colspan=18 ></td></tr>
  </table>
  </div>
  <table cellpadding="0" cellspacing="0" border="0">
    <tr>
    <td colspan=12 align=left >
      <table border="0">
        <tr class="RegText">
          <td valign=bottom colspan=2>__#COLORRED#__</td><td colspan=2>__#COLORGREEN#__</td><td colspan=2>__#COLORBLUE#__</td>
        </tr>
        <tr>
          <td><input type="text" disabled value="FF" style="width: 25px;" id="R" class="Ctrl"></td><td><img id="redspin" width=13 height=21 src="" border=0 usemap="#redspinmap"></td>
          <td><input type="text" disabled value="FF" style="width: 25px;" id="G" class="Ctrl"></td><td><img id="greenspin" width=13 height=21 src="" border=0 usemap="#greenspinmap"></td>
          <td><input type="text" disabled value="FF" style="width: 25px;" id="B" class="Ctrl"></td><td><img id="bluespin" width=13 height=21 src="" border=0 usemap="#bluespinmap"></td>
        </tr>
      </table>
    </td>
    <td colspan=6 align=right width=100>
    <table width=60>
      <tr height=35><td bgcolor="#d0d0d0" class="selswatch" id="selswatch">&nbsp;</td></tr>
    </table>
    </td>
    </tr>
    <tr height=5><td colspan=18 > </td></tr>
    <tr class="RegText"><td colspan=18><input type="checkbox" id="hex" class="Ctrl" onclick="OnFormatChanged()">__#COLORPICKERHEXFORMAT#__</td></tr>
    <tr height=5><td colspan=18 > </td></tr>
    <tr><td colspan=18><input class="Ctrl" type="button" value="__#BUTTONOK#__" style="width: 70px;" onclick="OnOk()"> <input class="Ctrl" type="button" value="__#BUTTONCANCEL#__" style="width: 70px;" onclick="OnCancel()">
    </td>
    </tr>
  </table>
  <map NAME="redspinmap">
    <area shape="rect" coords="0,0,13,10"  onclick="IncrRed()">
    <area shape="rect" coords="0,11,13,22"  onclick="DecrRed()">
  </map>
  <map NAME="greenspinmap">
    <area shape="rect" coords="0,0,13,10"  onclick="IncrGreen()">
    <area shape="rect" coords="0,11,13,22"  onclick="DecrGreen()">
  </map>
  <map NAME="bluespinmap">
    <area shape="rect" coords="0,0,13,10"  onclick="IncrBlue()">
    <area shape="rect" coords="0,11,13,22"  onclick="DecrBlue()">
  </map>
</body>
</html>
